/* This is an example of how to import a partial scss file*/
@import '_variables';

* {
  background-color: black;
  border: 2px solid white;
}

body {
  // background: $primary-background;
}

button {
  height: 200px;
  width: 200px;
  background-color: black;
}


.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}

// .grid-item {
//
// }

.room-display-area {
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}
