/* This is an example of how to import a partial scss file*/
@import '_variables';
@import 'mixins';

* {
  background-color: black;
  color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.login-container {
  @include centered-column();
  border: $item-border;
  height:80%;
  width: 100%;
}

.login-form {
  @include even-space-column();
  border: $item-border;
  height: 60%;
  width: 60%;
}

.login-input-fields {
  @include centered-column();
  width: 40%;
}

.login-info {
  margin: 1em;
  width: 60%;
}

.login-btn-container {
  @include centered-column();
  height: 25%;
  width: 33%;
}

.user-info {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.date-entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header {
  height: 20%;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 10%;
}

h1 {
  height: 100%;
  font-size: 7em;
}

.room-disp-heading {
  display: flex;
  justify-content: space-between;
  height: 8%;
  border: solid thin aqua;
}

.upcoming-stays {
  font-size: 2em;
}

.room-navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
}

.all-search-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-option {
  display: flex;
  align-items: center;
  margin: 5px 25px 5px 25px;
}

.room-type-dropdown {
  display: flex;
  flex-direction: column;
}

.room-display-area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  height: 100%;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2em;
  width: 75%;
  margin-top: 1em;
}

.grid-item {
  height: 100%;
  border: $item-border;
}

.individual-room {
  border: $item-border;
  height: 30%;
  width: 20%;
}

.room-info-container,
.ind-room-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ind-card-head {
  display: flex;
  justify-content: space-between;
}

.login-button {
  @include button-style;
  width: 80%;
}

.login-button:hover {
  background-color: $button-hover-color;
  color: $button-hover-text;
}

.login-button:focus {
  border-color: $button-focus-border;
  background-color: $button-focus-background;
  color: $button-focus-text;
}

button {
  @include button-style;
}

button:hover {
  background-color: $button-hover-color;
  color: $button-hover-text;
}

button:focus {
  border-color: $button-focus-border;
  background-color: $button-focus-background;
  color: $button-focus-text;
}

input:hover,
select:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
